{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/style.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-center text-light">
        <div class="mx-auto col-10 col-md-8 col-lg-8 mt-lg-3">
            <div class="card bg-dark shadow-sm mb-3 text-light">
                <div class="card-header">
                    <h3 class="h3">Update Community: {{ community.name }}</h3>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% if form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            {% for err in form.non_field_errors %}
                            <p class="form-error">{{ err }}</p>
                            {% endfor %}
                        </div>
                        {% endif %}

                        {% for field in form %}
                            <div class="form-group mb-4">
                            {% if field.name == "avatar" or field.name == "background" %}
                                <label class="form-label">{{ field.label }}</label>
                                    {% if field.value %}
                                        <div class="mb-3">
                                        <img src="{{ field.value.url }}" alt="Current Image" class="img-thumbnail" style="max-height: 200px;">
                                        </div>
                                        <div class="form-check mb-2">
                                            <input type="checkbox" name="{{ field.html_name }}-clear" id="{{ field.auto_id }}_clear" class="form-check-input">
                                            <label class="form-check-label text-danger" for="{{ field.auto_id }}_clear">
                                              Clear {{ field.label }}
                                            </label>
                                          </div>
                                    {% endif %}

                                <input type="{{ field.field.widget.input_type }}" name="{{ field.html_name }}" id="{{ field.auto_id }}" class="form-control">
                                {% if field.help_text %}
                                    <small class="form-text">{{ field.help_text }}</small>
                                {% endif %}
                            {% else %}
                                {{ field|as_crispy_field }}
                            {% endif %}
                            </div>
                        {% endfor %}
                        
                        <button class="btn btn-sm btn-success" type="submit">Update Community</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}