{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <form method="post" action="">
        {% csrf_token %}
        {% for field in form %}
            {{field.label_tag}}{{ field }}
            {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
            {% if field.errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in field.errors %}
                        <p class="form-error">{{ error }}</p>   
                    {% endfor %}
                </div> 
            {% endif %}
        {% endfor %}
        <button type="submit">Submit</button>  
    </form>
    
</div>
{% endblock content %}

