{% load static %}

{% for group, options, index in widget.optgroups %}
    {% for option in options %}
        <label class="form-check-label" for="{{ option.id_for_label }}">
            <input type="radio" id="{{ option.id_for_label }}" name="{{ widget.name }}" value="{{ option.value }}" class="{{ widget.attrs.class }}">
            <img src="{% static 'core/icons/' %}{{ option.value }}.png" alt="{{ option.label }}" width="30" height="30">
            {{ option.label }}
        </label>
    {% endfor %}
{% endfor %}