{% extends 'users/profile.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/style.css' %}">
{% endblock %}

{% block content_profile %}
<div class="container">
    <div class="mx-auto col-10 col-md-8 col-lg-8 mt-lg-3">
        <!-- Formularz filtrowania -->
        <div class="mb-3">
            <span>Filter as:</span>
            <form method="get" class="d-inline-block ms-2">
                <select name="filter" onchange="this.form.submit()" class="form-select bg-dark text-light">
                    <!-- Opcja domyślna, która pokazuje wszystkie komentarze -->
                    <option value="" {% if not request.GET.filter %}selected{% endif %}>All</option>
                    {% for parent in parent_posts %}
                        <option value="parent-{{ parent.id }}" {% if request.GET.filter == "parent-{{ parent.id }}" %}selected{% endif %}>
                            {{ parent.title }}
                        </option>
                    {% endfor %}
                </select>
            </form>
        </div>
        
        <!-- Lista komentarzy -->
        {% for comment in comments %}
            <div id="post-{{ comment.id }}" class="card bg-dark shadow-sm mb-3 text-light border">
                {% include 'core/post-header.html' with post=comment %}
                <div class="card-body text-light border">
                    <h3 class="h3 mx-5">{{ comment.title }}</h3>
                    <p class="mx-5">{{ comment.content|striptags|truncatechars:100 }}</p>
                </div>
                {% include 'core/post-footer.html' with post=comment %}
            </div>
            <div class="d-flex flex-row-reverse">
                <a href="{% url 'post-detail' comment.id %}" class="button text-decoration-none h3 me-5 mb-5">Read More</a>
            </div>
        {% empty %}
            <div class="d-flex justify-content-center mt-5">
                <p class="text-light">You don't have any saved posts.</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content_profile %}