{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/style.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-center text-light">
        <div class="mx-auto col-10 col-md-8 col-lg-8 vh-100 mt-lg-3">
            <div class="card bg-dark shadow-sm mb-3 text-light">

                {% include 'core/post-header.html' with post=post %}

                <div class="card-body">
                    <h3 class="h3">{{ post.title }}</h3>
                    {{ post.content }}
                    <!-- TODO: add post image handling -->
                </div>

                {% include 'core/post-footer.html' with post=post %}

            </div>
        </div>
    </div>
</div>
{% endblock content %}