{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/style.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="mx-auto col-10 col-md-8 col-lg-8 mt-lg-3">
        <a href="{% url 'admin:core_post_add' %}" class="admin-link mb-3">Add New Post</a>
        {% for post in posts %}
            <div class="card bg-dark shadow-sm mb-3 text-light">
                {% include 'core/post-header.html' with post=post %}
                <div class="card-body border post-clickable" id="post-{{ post.id }}" data-url="{% url 'post-detail' post.id %}">
                    <h3 class="h3">{{ post.title }}</h3>
                    {{ post.content|truncatechars:100 }}
                </div>
                {% include 'core/post-footer.html' with post=post %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}

{% block extra_js %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('.post-clickable').forEach(function(element) {
        element.addEventListener('click', function() {
            var url = this.getAttribute('data-url');
            window.location.href = url;
        });
    });
});
</script>
{% endblock extra_js %}
