{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <h3 class="mb-4">Log in</h3>
        <div class="d-flex justify-content-center">
            <div class="mx-auto col-10 col-md-8 col-lg-6 vh-100 mt-lg-3">
                <form method="POST" action=".">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="align-items-center">
                        <button type="submit" class="btn btn-primary mt-2 mb-2">Submit</button>
                    </div>
                </form>
                <div class="c">
                    <a href="{% url 'reset_password'  %}">Zapomniałeś hasła</a>
                </div>
            </div>
        </div>
    </div>

{%  endblock content %}