{% extends 'base.html' %} 
{% block content%}
    <div class="container text-center mt-2" style="width: 80%; margin: 0 auto">
        <h1>Password Reset Form</h1>
        <p style="width: 60%; margin: 0 auto">
            Please enter your new password so we can verify.
        </p>
        <br />
        <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-primary">Send email</button>
        </form>
</div>
{% endblock%}