{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content%}
    <div class="container text-center mt-2 container-reset">
        <h1>Password Reset Form</h1>
        <p style="width: 60%; margin: 0 auto">
            Please enter your new password so we can verify.
        </p>
        <br />
        <form action="" method="POST">
            {% csrf_token %}
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            {% for field in form %}
                <div class="fieldWrapper mt-2 mb-2">
                    {{ field.label_tag }} {{ field }}
                </div>
                 {% if field.name == 'new_password1' %}
                        <small class="form-text text-muted">
                            Your password can't be too similar to your other personal information.<br>
                            Your password must contain at least 8 characters.<br>
                            Your password can't be a commonly used password.<br>
                            Your password can’t be entirely numeric.
                        </small>
                 {% endif %}
            {% endfor %}
            <button type="submit" class="btn btn-primary">Send email</button>
        </form>
</div>
{% endblock%}