{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container mt-4">
        {% include 'users/settings_navbar.html' %}
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <div class="d-flex justify-content-between"></div>
                <div class="bg-dark p-4">
                    <h2 class="mt-3 mb-3">Customize Profile</h2>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        <!-- Display Name Field -->
                        <div class="form-group mb-4" id="profile-information">
                            <h3 class="mt-4 mb-4 text-secondary fs-6 border-bottom border-secondary">Profile
                                Information</h3>
                            {{ form.user_form.nickname|as_crispy_field }}
                            <p class="form-text text-light-emphasis">Set a nickname. This does not change your
                                username.</p>
                        </div>

                        <!-- Bio Field -->
                        <div class="form-group mb-4">
                            {{ form.profile_form.bio|as_crispy_field }}
                            <p class="form-text text-light-emphasis">A brief description of yourself shown on your
                                profile.</p>
                        </div>

                        <!-- Avatar Image Field -->
                        <div class="form-group mb-4">
                            <h4 class="fw-bolder fs-6">Avatar and Banner Image</h4>
                            <p class="form-text text-light-emphasis">Images must be .png or .jpg format</p>
                            <label for="avatar" class="form-label">Avatar Image</label>
                            <input type="file" class="form-control" id="avatar" name="avatar" accept=".png, .jpg">
                        </div>

                        <!-- Gender Field -->
                        <div class="form-group mb-4">
                            {{ form.profile_form.gender|as_crispy_field }}
                        </div>

                        <!-- NSFW Field -->
                        <div class="form-group mb-4">
                            <h4 class="fw-bolder fs-6">Profile category</h4>
                            <!-- Crispy form rendering with Bootstrap 5 switch class -->
                            <div class="form-check form-switch mb-3">
                                {{ form.profile_form.is_nsfw|as_crispy_field }}
                            </div>
                        </div>

                        <!-- Followable Field -->
                        <div class="form-group mb-4">
                            <h4 class="fw-bolder fs-6">Allow People to Follow You</h4>
                            <div class="form-check form-switch">
                                {{ form.profile_form.is_followable|as_crispy_field }}
                            </div>
                        </div>

                        <!-- Content Visibility Field -->
                        <div class="form-group mb-4">
                            <h4 class="fw-bolder fs-6">Content Visibility</h4>
                            <div class="form-check form-switch">
                                {{ form.profile_form.is_content_visible|as_crispy_field }}
                            </div>
                        </div>

                        <!-- Communities Visibility Field -->
                        <div class="form-group mb-4">
                            <h4 class="fw-bolder fs-6">Active in Communities Visibility</h4>
                            <div class="form-check form-switch">
                                {{ form.profile_form.is_communities_visible|as_crispy_field }}
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}