{% extends "base.html" %}
{% load static %}

{% block content %}
<ul class="nav nav-pills mb-3 justify-content-center custom-nav-pills">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'profile' %}">Overview</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'user_posts' %}">Posts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'user_comments' %}">Comments</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'saved_posts' %}">Saved</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Hidden</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'user_upvoted' %}">Upvoted</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Downvoted</a>
    </li>
</ul>
    {% block content_profile %}
{% endblock content_profile %}
{% endblock content %}


