{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-4">
    {% include 'users/settings_navbar.html' %}
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <div class="d-flex justify-content-between"></div>
            <div class="bg-dark p-4">
                <h2 class="mt-3 mb-3">Customize Profile</h2>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <!-- Display Name Field -->
                    <div class="form-group mb-4" id="profile-information">
                        <h3 class="mt-4 mb-4 text-secondary fs-6 border-bottom border-secondary">Profile Information</h3>
                        <label for="nickname" class="fw-bolder">Nickname (optional)</label>
                        <input type="text" class="form-control" id="nickname" name="nickname" maxlength="150" value="{{ user_form.nickname.value }}">
                        <p class="form-text text-light-emphasis">Set a nickname. This does not change your username.</p>
                                {% if user_form.nickname.errors %}
                                    <div class="text-danger">
                                    {% for error in user_form.nickname.errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                    </div>
                                {% endif %}
                    </div>

                    <!-- Bio Field -->
                    <div class="form-group mb-4">
                        <label for="bio" class="fw-bolder">About (optional)</label>
                        <textarea class="form-control" id="bio" name="bio" rows="4" maxlength="200" placeholder="About (optional)">{{ profile_form.bio.value }}</textarea>
                        <p class="form-text text-light-emphasis">A brief description of yourself shown on your profile.</p>
                    </div>

                    <!-- Avatar Image Field -->
                    <div class="form-group mb-4">
                        <h4 class="fw-bolder fs-6">Avatar and Banner Image</h4>
                        <p class="form-text text-light-emphasis">Images must be .png or .jpg format</p>
                        <label for="avatar" class="form-label">Avatar Image</label>
                        <input type="file" class="form-control" id="avatar" name="avatar" accept=".png, .jpg">
                    </div>

                    <!-- Gender Field -->
                    <div class="form-group mb-4">
                        <label for="gender-select" class="fw-bolder">Gender</label>
                        <select class="form-control" id="gender-select" name="gender">
                            {% for choice in profile_form.gender.field.choices %}
                                <option value="{{ choice.0 }}" {% if choice.0 == profile_form.gender.value %}selected{% endif %}>{{ choice.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- NSFW Field -->
                    <div class="form-group mb-4">
                        <h4 class="fw-bolder fs-6">Profile category</h4>
                        <div class="form-check form-switch">
                            <input type="checkbox" class="form-check-input" id="nsfwSwitchCheckDefault" name="is_nsfw" {% if profile_form.is_nsfw.value %}checked{% endif %}>
                            <label class="form-check-label" for="nsfwSwitchCheckDefault">This content is NSFW</label>
                        </div>
                    </div>

                    <!-- Followable Field -->
                    <div class="form-group mb-4">
                        <h4 class="fw-bolder fs-6">Allow People to Follow You</h4>
                        <div class="form-check form-switch">
                            <input type="checkbox" class="form-check-input" id="followSwitchCheckDefault" name="is_followable" {% if profile_form.is_followable.value %}checked{% endif %}>
                            <label class="form-check-label" for="followSwitchCheckDefault">Allow people to follow you</label>
                        </div>
                    </div>

                    <!-- Content Visibility Field -->
                    <div class="form-group mb-4">
                        <h4 class="fw-bolder fs-6">Content Visibility</h4>
                        <div class="form-check form-switch">
                            <input type="checkbox" class="form-check-input" id="visibilitySwitchCheckDefault" name="is_content_visible" {% if profile_form.is_content_visible.value %}checked{% endif %}>
                            <label class="form-check-label" for="visibilitySwitchCheckDefault">Allow content to be visible</label>
                        </div>
                    </div>

                    <!-- Communities Visibility Field -->
                    <div class="form-group mb-4">
                        <h4 class="fw-bolder fs-6">Active in Communities Visibility</h4>
                        <div class="form-check form-switch">
                            <input type="checkbox" class="form-check-input" id="communitiesSwitchCheckDefault" name="is_communities_visible" {% if profile_form.is_communities_visible.value %}checked{% endif %}>
                            <label class="form-check-label" for="communitiesSwitchCheckDefault">Show active communities</label>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}