{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container">
        <h3 class="mb-4">Registration</h3>
        <div class="d-flex justify-content-center">
            <div class="mx-auto col-10 col-md-8 col-lg-6 vh-100 mt-lg-3">
                <form method="POST" action=".">
                    {% csrf_token %}

                    {% if form.non_field_errors %}
                        {% for err in form.non_field_errors %}
                            <div class="alert alert-danger" role="alert">
                                <p class="form-error">{{ err }}</p>
                            </div>
                        {% endfor %}
                    {% endif %}

                    {{ form.as_p }}

                    <div class="align-items-center">
                        <button type="submit" class="btn btn-primary mt-2 mb-2">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}
