{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
      <div class="container">
          <h3 class="mb-4 align-center">Password Reset Form</h3>
          <div class="d-flex justify-content-center">
              <div class="mx-auto col-10 col-md-8 col-lg-6 vh-100 mt-lg-3">
                  <div class="d-flex justify-content-center mt-4">
                      <div class="p-4 m-4 text-white">
                          <p>
                              Forgot your password? Please enter the email address you used to register
                              with us, and we will send you a link to reset your password.
                          </p>
                          <form action="." method="POST">
                              {% csrf_token %}
                              {% if form.non_field_errors %}
                                  <div class="alert alert-danger" role="alert">
                                      {% for err in form.non_field_errors %}
                                          <p class="form-error">{{ err }}</p>
                                      {% endfor %}
                                  </div>
                              {% endif %}

                              {{form|crispy}}

                              <button type="submit" class="btn btn-primary mt-3">Send email</button>
                          </form>
                          <a href="{% url 'login' %}" class="btn btn-link">Return to login page</a>
                      </div>
                </div>
              </div>
          </div>
      </div>


{% endblock %}