{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container text-center mt-4 text-white">
        <h2>Welcome to the Password Reset Page</h2>
        <p>
            Forgot your password? Please enter the email address you used to register
            with us, and we will send you a link to reset your password.
        </p>
    </div>
    <div class="d-flex justify-content-center mt-4">
        <div class="p-4 m-4 text-white">
            <form action="" method="POST" class="text-center">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary mt-3">Send email</button>
            </form>
        </div>
    </div>

    <div class="text-center mt-4">
        <a href="{% url 'login' %}" class="btn btn-link">Return to login page</a>
    </div>
{% endblock %}