<div class="mt-1">
    <h4>User Settings</h4>
</div>
<div class="border-bottom border-secondary mt-3">
    <ul class="nav nav-underline">
        <li class="nav-item">
            <a class="{% if request.resolver_match.url_name == 'account_settings' %}nav-link active link-light link-underline-primary{% else %}nav-link link-secondary{% endif %}" aria-current="page" href="{% url 'account_settings' %}">Account</a>
        </li>
        <li class="nav-item">
            <a class="{% if request.resolver_match.url_name == 'profile_settings' %}nav-link active link-light link-underline-primary{% else %}nav-link link-secondary{% endif %}" aria-current="page" href="{% url 'profile_settings' %}">Profile</a>
        </li>
    </ul>
</div>