<div class="card bg-dark shadow-sm mb-3 text-light">
    <div class="card-header">
        <div class="row align-items-center">
            <div class="col-auto">
                <!-- TODO: Update avatar src with user avatar URL after merging feature/avatar -->
                <img src="https://placehold.co/32x32.png" alt="{{ post.author }} avatar image" class="rounded-circle" style="width: 32px; height: 32px;">
            </div>
            <div class="col">
                <div class="d-flex flex-column">
                    <!-- TODO: Update links to user public profile and community upon feature released -->
                    <div>
                        <a href="#" class="link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-25-hover">r/{{ post.community }}</a> • <small class="text-secondary">{{ post.created_at|timesince }} ago</small>
                    </div>
                    <a href="#" class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-25-hover">{{ post.author }}</a>
                </div>
            </div>
            <div class="col-auto ms-auto">
                <!-- TODO: Update link with post-save feature -->
                <a href="#" class="link-light link-opacity-50-hover"><i class="bi bi-bookmark"></i></a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <h4 class="h5">{{ post.title }}</h4>
        {{ post.content }}
    </div>
    <div class="card-footer">
        <!-- TODO: Add buttons for up vote and down vote -->
        <!-- TODO: Fix method to count comments -->
        Score: {{ post.score }} | Comments: {{ post.children.count }}
    </div>
</div>
